@import "libs";
@import "global";
@import "vars";
@import "fonts";

.header__go-surf {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 3s 6s forwards;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  max-width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  .logo {
    margin-bottom: 77px;
  }

  li {
    max-width: 59px;
    margin-bottom: 37px;
  }

  a {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
    height: 100%;
    display: inline-block;
  }

  &-search {
    cursor: pointer;
  }

  &__date {
    margin-top: 40px;
    margin-bottom: 36px;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 72px;
    line-height: 20px;
    text-transform: uppercase;
    max-height: 94px;
    position: relative;
  }

  &__date span {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.4px;
  }

  &__location {
    position: relative;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.05px;
    margin-bottom: 57px;
    cursor: pointer;
  }

  &__location::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 20%;
    z-index: 5;
    width: 11px;
    height: 13px;
    background-image: url(../images/mark.svg);
  }
}

.header__slider.slick-slider {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__slider {
  &-item {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-item:nth-child(1) {
    background-image: url('../images/header-bg-1.jpg');
  }

  &-item:nth-child(2) {
    background-image: url('../images/header-bg-2.jpg');
  }

  &-item:nth-child(3) {
    background-image: url('../images/header-bg-3.jpg');
  }

  &-item:nth-child(4) {
    background-image: url('../images/header-bg-4.jpg');
  }
}

.slider-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  position: absolute;
  right: 80px;
  bottom: 115px;

  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  &-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.slider-arrows {
  position: absolute;
  z-index: 6;
  cursor: pointer;

  &-left {
    right: 125px;
    top: 40px;
  }

  &-right {
    right: 80px;
    top: 40px;
  }
}

.slider-dotshead.slick-initialized.slick-slider {
  position: absolute;
  right: 80px;
  bottom: 40px;
  max-width: 920px;
  width: 100%;
  z-index: 5;

}

.slider-dotshead__item {
  position: relative;
  width: 200px !important;
  height: 4px;
  background-color: #fff;
}

.dots-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.slider-dotshead .slick-current .slider-dotshead__item {
  background-color: #4AF6CD;
}

.slider-dotshead li button {
  margin-top: 6px;
  padding-left: 12px;
  background-color: transparent;
  border: none;
  font-family: 'Fira Sans';
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}

.header__arrows-down {
  position: absolute;
  left: 210px;
  bottom: 40px;
  cursor: pointer;
}

.slider__map {
  position: relative;
  min-height: 635px;
  max-width: 1200px;
  background: url(../images/world-map.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  margin: 0 auto;

}

.slider__map .slick-list {
  min-height: 650px;
}

.slider__map .slick-track {
  min-height: 650px;
}

.slider__map-dots {
  position: absolute;
}

.slider__map-dots.slider-dots--1 {
  left: 0%;
  top: 110px;
}

.slider__map-dots.slider-dots--2 {
  left: 20%;
  top: 306px;
}

.slider__map-dots.slider-dots--3 {
  left: 33%;
  top: 328px;
}

.slider__map-dots.slider-dots--4 {
  left: 37.6%;
  top: 512px;
}

.slider__map-dots.slider-dots--5 {
  left: 45.5%;
  top: 217px;
}

.slider__map-dots.slider-dots--6 {
  top: 568px;
  left: 52.5%;
}

.slider__map-dots.slider-dots--7 {
  top: 405px;
  left: 63%;
}

.slider__map-dots.slider-dots--8 {
  top: 507px;
  left: 82.5%;
}


.slider-dots__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 285px;
  height: 215px;
  background-color: rgba(#0F1010, 0.7);
  z-index: 5;
  opacity: 0;
}

.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.slider-dots__content-row:nth-child(2) {
  justify-content: space-around;
}

.slider-dots__content-title {
  position: relative;
  margin-bottom: 14px;
  z-index: 4;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 27px;
    height: 1px;
    width: 80px;
    background-color: #4AF6CD;
  }
}

.slider-dots__content-head {
  padding-top: 28px;
  padding-left: 32px;
}

.slider-dots__content-arrow {
  position: absolute;
  right: 32px;
  top: 32px;
  z-index: 5;
}

.slider-dots__content-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 32px;
}

.slider-dots__content-number {
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}

.slider-dots__content-name {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

.slider-dots__circle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #4AF6CD;
  border-radius: 50%;
  box-shadow: 0 0 25px #4af6cd;
}

.slider-dots__circle--1 {
  bottom: -44px;
  left: 0;
}


.surf {
  padding-top: 150px;

  &__arrow-left {
    top: 58px;
    right: 125px;
  }

  &__arrow-right {
    top: 58px;
    right: 80px;
  }

  &__title::after {
    content: "surf";
  }

  &__slider {
    padding-top: 110px;
  }

  .slick-track {
    padding-left: 40px;
  }

  &__slider-item {
    position: relative;

    .slide-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 750px;
    }
  }

  &__slider-title {
    position: absolute;
    left: 40px;
    top: 72px;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-transform: uppercase;
    z-index: 20;
    word-wrap: break-word;
    max-width: 200px;
  }

  &__slider-location {
    position: absolute;
    left: 40px;
    bottom: 80px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
    width: 0;
    height: 0;
    white-space: nowrap;
    z-index: 20;
  }

  &__slider-button {
    position: absolute;
    bottom: -1px;
    left: 45px;
    z-index: 20;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    transition: all .3s;
  }

  .slide-image {
    position: relative;
  }

  .slide-image::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 750px;
    left: 0;
    top: 0;
    opacity: 0.85;
    background-color: #1C2121;
    transition: all .3s;
  }

  .slick-slide.slick-current {
    .slide-image::after {
      opacity: 0.315;
    }

    .surf__slider-button {
      opacity: 1;
      transition: all .3s;
    }
  }

  .slick-slide:nth-child(4n + 1) {
    .surf__slider-item {
      margin-top: 32px;
    }
  }

  .slick-slide:nth-child(4n + 3) {
    .surf__slider-item {
      margin-top: 89px;
    }
  }

  .slick-slide:nth-child(n) {
    .slide-image {
      width: 400px;
    }
  }

  .slick-slide:nth-child(1) {
    .surf__slider-item {
      z-index: 5;
    }
  }

  .slick-slide:nth-child(2) {
    .surf__slider-item {
      z-index: 6;
    }
  }

  .slick-slide:nth-child(3) {
    .surf__slider-item {
      z-index: 7;
    }
  }

  .slick-slide:nth-child(4) {
    .surf__slider-item {
      z-index: 8;
    }
  }

  .slick-slide:nth-child(5) {
    .surf__slider-item {
      z-index: 9;
    }
  }

  .slick-slide:nth-child(6) {
    .surf__slider-item {
      z-index: 10;
    }
  }

  .slick-slide:nth-child(7) {
    .surf__slider-item {
      z-index: 11;
    }
  }

  .slick-slide:nth-child(8) {
    .surf__slider-item {
      z-index: 12;
    }
  }
}

.travel {
  position: relative;
  padding-bottom: 300px;

  &__arrow-left {
    right: 125px;
    top: 250px;
    opacity: 0.25;
  }

  &__arrow-right {
    right: 80px;
    top: 250px;
    opacity: 0.25;
  }

  &__title::after {
    content: "TRAVEL";
  }


  .slider-item-head {
    position: relative;
    min-height: 780px;
    margin-bottom: 120px;
  }

  .shore-name {
    padding-top: 110px;
    margin-right: 85px;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: right;
    text-transform: uppercase;

    span {
      position: relative;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      text-align: right;
      letter-spacing: 7.33333px;
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    span::before {
      content: "";
      position: absolute;
      left: -100px;
      top: 10px;
      height: 1px;
      width: 80px;
      background-color: #fff;
      opacity: 0.5;
    }
  }

  .airline-name {
    position: absolute;
    bottom: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    margin-left: 130px;
    margin-right: 25px;

    span {
      position: relative;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      text-align: right;
      letter-spacing: 7.33333px;
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.5;

      &::after {
        content: "";
        position: absolute;
        right: -230px;
        top: 10px;
        height: 1px;
        width: 80px;
        background-color: #fff;
        opacity: 0.5;
      }
    }
  }

  .airline-icon {
    position: absolute;
    right: -82px;
    top: 65px;
  }

  .plane-img {
    position: absolute;
    right: 0;
    bottom: -85px;
  }

  .book-flight {
    margin: 0 auto;
    display: block;
    width: 326px;
  }

  &__cocktail-img {
    position: absolute;
    right: 0;
    bottom: 45px;
  }

}

.slider-item__descr {
  display: flex;
  margin: 0 140px;
  justify-content: space-between;

  .slider-item__descr-box {
    position: relative;
    margin-bottom: 190px;
    margin-left: 70px;
    width: 100%;
  }

  .descr-name {
    position: absolute;
    left: -152px;
    top: 112px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 8px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.5;
    transform: rotate(-90deg);
    width: 250px;
  }

  .descr-definition {
    position: relative;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-transform: uppercase;

    span {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-align: right;
      letter-spacing: 5.25px;
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.75;
      white-space: nowrap;
      text-align: right;
      max-width: 260px;
    }
  }

}

.sleep {
  position: relative;
  padding-bottom: 40px;

  &__title::after {
    content: "SLEEP";
  }

  &__frangipani-img {
    position: absolute;
    right: 0;
    top: 45px;
  }
  
  .resorts-name {
    font-weight: 800;
    font-size: 40px;
    line-height: 86px;
    text-align: right;
    text-transform: uppercase;

    span {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      text-align: right;
      letter-spacing: 7.33333px;
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }

    .hammock {
      position: absolute;
      right: 0px;
    }
  .rating-name {
    position: absolute;
    bottom: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    margin-left: 130px;
    margin-right: 25px;

    span {
      position: relative;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      text-align: right;
      letter-spacing: 7.33333px;
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.5;

      &::after {
        content: "";
        position: absolute;
        right: -230px;
        top: 10px;
        height: 1px;
        width: 80px;
        background-color: #fff;
        opacity: 0.5;
      }
    }
  }
  
  .js-number {
    background-color: transparent;
    border: none;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFFFFF;
    pointer-events: none;
  }
}
.minus-btn{
  position: absolute;
  bottom: -20px;
  left: 150px;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.plus-btn{
  position: absolute;
  bottom: -24px;
  left: 190px;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-height: 1020px) {
  .menu {
    .logo {
      margin-bottom: 30px;
    }

    & li {
      margin-bottom: 25px;
    }

    &__date {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

@media (max-height: 900px) {
  .menu {
    .logo {
      margin-bottom: 30px;
    }

    & li {
      margin-bottom: 25px;
    }

    &__date {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

@import "media";